name: Integration Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.number || github.sha }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [it-nats, it-kafka, it-elastic, it-otlp, it-etcd]
    steps:
      - uses: actions/checkout@v4.1.6
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: 1.82.0
      - name: Cache cargo
        uses: Swatinem/rust-cache@v2.7.3
      - name: Run Integration Test (${{ matrix.target }})
        run: cargo run -p xtask -- ${{ matrix.target }}
